
@{
    Layout = null;
}
<!--Layout Sayfası-->


<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial");
  <body>
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial");
	  
    <!-- END nav -->
    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial");

    @RenderBody()

    @await Component.InvokeAsync("_FooterLayoutComponentPartial");
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial");
  </body>
</html>